
<table border="1">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Website</th>
      <th>Email</th>
      <th>Number of Reviews</th>
      <th>Rating</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.business_name%></td>
        <td><%= prospect.website%></td>
        <td><%= prospect.email%></td>
        <td><%= prospect.reviews_number%></td>
        <td><%= prospect.rating%></td>
        <td><%= prospect.ranking%></td>
      </tr>
    <% end %>
  </tbody>
</table>


